<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>售后服务</title>
<form method="post">
    {% csrf_token %}
    <select name="order_id">
      {%for order in customer_order %}
        <option value="{{order.id}} {{ order.item_id }}">{{order.id}} {{ order.item_id }}</option>
      {%endfor%}
        <option value="请选择订单" selected="selected">请选择订单</option>
    </select>

    <textarea name="content" cols="40" rows="10" >请填写您的售后请求</textarea>

    <button type="submit">提交</button>
</form>
</head>
<body>

</body>
</html>