<!DOCTYPE html>
<html>
   <head>
      <title>欢迎进入客户关系管理系统</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/background.css">
	<script src="../../static/js/jquery.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
   </head>
   <body>
        <div class="container">
   <div class="page-header">
       <h1 class="text-center" style="color:white"><b><strong>客户关系管理系统</strong></b><small>CRM System</small></h1>
   </div>
   <br/></br><br/></br>
	   <div class="row">
         <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 jumbotron" style="opacity:0.75">
 <h2 class="text-center text-danger"><strong>对不起，您暂时无权访问该页面……</strong></h2>
 <br/><br/><br/>
 <h2 class="text-center text-danger"><strong>有任何问题，请联系管理员……</strong></h2>
 <br/>
 <address class="text-center">
		 <em>
          <strong>数据库课程设计:</strong>第四小组;
	      <strong>电话:</strong>(123) 456-7890;
          <strong>邮箱:</strong><a href="mailto:#">mailto@somedomain.com</a>;
          <strong>地址:</strong>安徽省,合肥市,安徽大学磬苑校区,笃行南楼
		</em>
          </address>
 <h3 class="text-center"><a href="javascript:;" onclick="javascript:history.back(-1)">返回上一页<h3>


				</form>
 </div>
</div>
	</div>
	</div>
	</div>
   </body>
</html>